#battlefield {
    overflow: hidden;
    background-image: url(../images/map.png);
    clear: both;
    position: relative;
    width: 1000px; 
    height: 1000px;
    margin-top: 5px;
    margin-bottom: 200px;
    border: 1px solid #ccc;
}