.unit {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    z-index: 2;
}

.unit.selected {
    background-color: rgba(66, 140, 240, 0.5);
    border-color: rgba(0,0,255,0.5);
    text-shadow: rgba(20, 20, 20, 0.5) 1px 1px 5px;
    text-align: center;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
    -webkit-box-shadow: 0 0 45px rgba(66, 140, 240, 0.5);
    border: 1px solid #0000ff;
}

.unit.defense-tower {
    background-color: none;
    background-image: url(../images/tower.png);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}

.unit.unit-human-mg {
    background-image: url(../images/test6.png);
    background-repeat: no-repeat;
    background-position: -100px 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}
.unit.enemy {
    cursor: crosshair;
}
.unit.enemy.unit-human-mg {
    background-image: url(../images/test8.png);
    background-repeat: no-repeat;
}

.unit.unit-human-bazooka {
    background-image: url(../images/test7.png);
    background-repeat: no-repeat;
    background-position: -100px 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}

.p9 {
    width: 10px;
    height: 1px;
    border-right: 4px solid orange;
    background-color: #fff;
}

.mg {
    width: 20px;
    height: 2px;
    border: 1px;
    background-color: #eee;
    -webkit-box-shadow: 0 0 20px rgba(255, 255, 0, 0.8);
    -moz-box-shadow: 0 0 20px rgba(255, 255, 0, 0.8);
    border-color: rgba(255,255,0,0.8);
}

.mg.enemy {
    -webkit-box-shadow: 0 0 20px rgba(255, 0, 0, 0.8);
    -moz-box-shadow: 0 0 20px rgba(255, 0, 0, 0.8);
    border-color: rgba(255,0,0,0.8);
}

.bazooka {
    width: 30px;
    height: 5px;
    border: 1px;
    background-color: rgba(255,255,0,0.5);

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

    -webkit-box-shadow: 0 0 20px rgba(255, 255, 0, 0.5);
    -moz-box-shadow: 0 0 20px rgba(255, 255, 0, 0.5);
    border-color: rgba(255,255,0,0.5);
}

.bazooka.enemy {
    background-color: rgba(255,0,0,0.5);

    -webkit-box-shadow: 0 0 20px rgba(255, 0, 0, 0.5);
    -moz-box-shadow: 0 0 20px rgba(255, 0, 0, 0.5);
    border-color: rgba(255,0,0,0.5);
}

.firerange {
    border: 2px solid red;
    background-color: rgba(255, 0, 0, 0.1);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 1;
}
