.unit {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    z-index: 2;
}

.unit.selected {
    background-color: rgba(66, 140, 240, 0.5); 
    border-color: rgba(0,0,255,0.5); 
    text-shadow: rgba(20, 20, 20, 0.5) 1px 1px 5px;
    text-align: center;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;                
    border-radius: 45px;
    -webkit-box-shadow: 0 0 45px rgba(66, 140, 240, 0.5);
    border: 1px solid #ccc;
    
    -webkit-animation-name: glow;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;    
    
    -moz-animation-name: glow;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    -moz-animation-timing-function: ease-in-out;
}

.unit.unit-human-mg {
    background-image: url(../images/test3.png);
    background-repeat: no-repeat;
    background-position: -100px 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg)
}

.unit.enemy.unit-human-mg {
    background-image: url(../images/test4.png);
    background-repeat: no-repeat;
}

.unit.unit-human-bazooka {
    background-image: url(../images/test5.png);
    background-repeat: no-repeat;
    background-position: -100px 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg)
}

@-webkit-keyframes glow {
    0% {
        -webkit-box-shadow: 0 0 16px rgba(66, 140, 240, 0.5);
        -moz-box-shadow: 0 0 16px rgba(66, 140, 240, 0.5);
        border-color: rgba(0,0,255,0.5);         
    }
    100% {
        -webkit-box-shadow: 0 0 16px rgba(66, 140, 240, 1.0), 0 0 36px rgba(0, 140, 255, 1.0);
        -moz-box-shadow: 0 0 16px rgba(66, 140, 240, 1.0), 0 0 36px rgba(0, 140, 255, 1.0);
        border-color: rgba(0,0,255,1.0); 
    }
}

@-moz-keyframes glow {
    0% {
        -webkit-box-shadow: 0 0 16px rgba(66, 140, 240, 0.5);
        -moz-box-shadow: 0 0 16px rgba(66, 140, 240, 0.5);
        border-color: rgba(0,0,255,0.5);         
    }
    100% {
        -webkit-box-shadow: 0 0 16px rgba(66, 140, 240, 1.0), 0 0 36px rgba(0, 140, 255, 1.0);
        -moz-box-shadow: 0 0 16px rgba(66, 140, 240, 1.0), 0 0 36px rgba(0, 140, 255, 1.0);
        border-color: rgba(0,0,255,1.0); 
    }
}

@-webkit-keyframes glow-mg {
    0% {
        -webkit-box-shadow: 0 0 2px rgba(255, 255, 0, 0.5);
        -moz-box-shadow: 0 0 2px rgba(255, 255, 0, 0.5);
        border-color: rgba(255,255,0,0.5);
    }
    100% {
        -webkit-box-shadow: 0 0 2px rgba(255, 255, 0, 1.0), 0 0 8px 3px rgba(255, 255, 0, 1.0);
        -moz-box-shadow: 0 0 2px rgba(255, 255, 0, 1.0), 0 0 8px 3px rgba(255, 255, 0, 1.0);
        border-color: rgba(255, 255, 0,1.0);
    }
}
@-moz-keyframes glow-mg {
    0% {
        -webkit-box-shadow: 0 0 2px rgba(255, 255, 0, 0.5);
        -moz-box-shadow: 0 0 2px rgba(255, 255, 0, 0.5);
        border-color: rgba(255,255,0,0.5);
    }
    100% {
        -webkit-box-shadow: 0 0 2px rgba(255, 255, 0, 1.0), 0 0 8px 3px rgba(255, 255, 0, 1.0);
        -moz-box-shadow: 0 0 2px rgba(255, 255, 0, 1.0), 0 0 8px 3px rgba(255, 255, 0, 1.0);
        border-color: rgba(255, 255, 0,1.0);
    }
}

.mg {
    width:24px;
    height: -2px;
    margin: 0;
    padding: 0;

    background-color: rgba(0, 255, 0, 0.5);
    border: 1px solid #ccc;
    border-color: rgba(0, 255,0,0.5);
    color: #000;
    text-shadow: rgba(20, 20, 20, 0.5) 1px 1px 5px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
    -webkit-box-shadow: 0 0 500px rgba(0, 255, 0, 0.5);

    -webkit-animation-name: glow-mg;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;

    -moz-animation-name: glow-mg;
    -moz-animation-duration: 0.2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    -moz-animation-timing-function: ease-in-out;
}

.mg.enemy {
    background-color: rgba(255, 0, 0, 0.5);
    border-color: rgba(255,0,0,0.5);
    -webkit-box-shadow: 0 0 500px rgba(255, 0, 0, 0.5);
    -moz-box-shadow: 0 0 500px rgba(255, 0, 0, 0.5);
}

.bazooka {
    width:30px;
    height: 5px;
    margin: 0 auto;

    background-color: rgba(0, 255, 0, 0.5);
    border: 1px solid #ccc;
    border-color: rgba(0, 255,0,0.5);
    font-size:180px;
    color: #000;
    text-shadow: rgba(20, 20, 20, 0.5) 1px 1px 5px;
    text-align: center;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
    -webkit-box-shadow: 0 0 500px rgba(0, 255, 0, 0.5);

    -webkit-animation-name: glow-mg;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;

    -moz-animation-name: glow-mg;
    -moz-animation-duration: 0.2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    -moz-animation-timing-function: ease-in-out;
}

.firerange {
    border: 2px solid red;
    background-color: rgba(255, 0, 0, 0.1);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 1;
}